{
  "plugins": ["eslint-plugin-no-inline-styles", "prettier"],
  "extends": [
    "@tecsinapse/tecsinapse-js",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
